numpy
pandas
scipy
tqdm
scikit-learn
statsmodels

torch
torchvision
torchaudio
torch-geometric
networkx

sentence-transformers
transformers

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-chroma

chromadb
faiss-cpu
rank-bm25

pypdf
pdfplumber
beautifulsoup4
lxml
unstructured

matplotlib
seaborn
plotly

python-dotenv
requests

jupyter
ipykernel
notebook